<% @page_title = t('views.path.name.signup') %>
<% resource.timezone = default_timezone # logic to override devise %>
<div class="layout__devise">
  <h2><%= @page_title %></h2>
  <hr>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
               html: { class: 'module__form' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="module__form__field">
      <%= f.label :email, t('.email') %><br />
      <%= f.email_field :email, autofocus: true, class: 'module__form__field__text' %>
    </div>

    <div class="module__form__field">
      <%= f.label :name, t('.name') %><br />
      <%= f.text_field :name, autofocus: true, class: 'module__form__field__text' %>
    </div>

    <div class="module__form__field">
      <%= f.label :timezone, t('.timezone') %><br />
      <%= f.select :timezone, TZInfo::Timezone.all_identifiers, {}, class: 'module__form__field__text' %>
    </div>

    <div class="module__form__field">
      <%= f.label :password, t('.password') %><br />
      <%= t('.minimum_length_html', length: @minimum_password_length) if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: 'off', class: 'module__form__field__text' %>
    </div>

    <div class="module__form__field">
      <%= f.label :password_confirmation, t('.confirm') %><br />
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'module__form__field__text' %>
    </div>

    <hr>

    <div class="module__form__checkbox">
      <% id = 'script__devise__signup__agreement' %>
      <%= check_box_tag 'agreement', true, false, id: id %>
      <%= label_tag id, class: 'module__form__checkbox__label' do %>
        <p class="module__form__checkbox__label__inner">
          <% terms = link_to t('.terms'), terms_path, target: '_new' %>
          <% privacy = link_to t('.privacy'), privacy_path, target: '_new' %>
          <%= t('.agreement_html', terms: terms, privacy: privacy) %>
        </p>
      <% end %>
    </div>

    <hr>

    <div><%= f.submit @page_title, class: 'module__button', id: 'script__devise__signup__submit' %></div>
  <% end %>

  <hr>
  <%= render 'devise/shared/links' %>
</div>
