<div class="module__modal__outer" v-show="display">
  <div class="module__modal__background" v-on:click="close"></div>
  <div class="module__modal">
    <div class="module__modal__inner">
      <div id="vue-markdown-<%= index %>" class="layout__sequels__form module__form">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab__sequel__<%= index %>__editor" data-toggle="tab">Editor</a></li>
          <li><a href="#tab__sequel__<%= index %>__preview" data-toggle="tab">Preview</a></li>
        </ul>

        <div id="tab__sequel__<%= index %>__editor" class="module__form__field tab-pane fade in active">
          <%= f.text_area :content,
                          id: "vue-markdown-#{index}-editor",
                          class: 'layout__sequels__form__content module__form__field__text module__form__field__text--fixed',
                          'v-model' => 'content',
                          placeholder: 'Write down by markdown'
          %>
        </div>

        <div id="tab__sequel__<%= index %>__preview" class="module__panel tab-pane fade">
          <div v-html="content | preview"
               id="vue-markdown-<%= index %>-preview"
               class="module__markdown module__panel__inner">
          </div>
        </div>

        <div>
          <%= hidden_field_tag :view_number, @tale.view_number %>
          <%= f.submit 'Post', class: 'module__button module__button--small module__button--wide' %>
        </div>
      </div>

    </div>
  </div>
</div>