<div class="layout__sequels__index">
  <% @sequels.each do |sequel| %>
    <div class="layout__sequels__index__item">

      <div class="layout__sequels__index__item__content">
        <%= markdown_to_html(sequel.content) %>
      </div>

      <hr class="layout__sequels__index__item__divide"/>

      <div class="layout__sequels__index__item__number">
        <%= sequel.view_number.ordinalize %> comment :
      </div>

      <div class="layout__sequels__index__item__information">
        created at <%= sequel.created_at.strftime('%Y-%b-%d %H:%M') %>
        <% unless sequel.created_at == sequel.updated_at %>
            | updated at <%= sequel.updated_at.strftime('%Y-%b-%d %H:%M') %>
        <% end %>
      </div>

      <%= link_to 'Delete',
                  sequels_path(sequel_view_number: sequel.view_number, view_number: @tale.view_number),
                  method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'text-danger' %>
    </div>
  <% end %>
</div>
