<div class="layout__sequels__index">
  <% tale.sequels.each.with_index(1) do |sequel, index| %>
    <div id="script__sequel__<%= index %>" class="layout__sequels__index__item module__panel">
      <div class="module__panel__inner">

        <div v-cloak>
          <%= form_for(sequel, url: update_sequel_path) do |f| %>
              <%= hidden_field_tag :sequel_view_number, sequel.view_number %>
              <%= render 'sequels/form', f: f, index: index, tale: tale %>
          <% end %>
        </div>

        <div class="module__markdown">
          <%= markdown_to_html(sequel.content) %>
        </div>

        <hr class="layout__sequels__index__item__divide"/>

        <a v-on:click="showModal" class="layout__sequels__index__item__edit">Edit</a>

        <%= link_to 'Delete',
                    sequels_path(sequel_view_number: sequel.view_number, view_number: tale.view_number),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    title: 'Delete',
                    class: 'layout__sequels__index__item__delete'
        %>

        <div class="layout__sequels__index__item__information">
          created at <%= sequel.created_at.strftime('%Y-%b-%d %H:%M') %>
          <% unless sequel.created_at == sequel.updated_at %>
              | updated at <%= sequel.updated_at.strftime('%Y-%b-%d %H:%M') %>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
</div>
