<% @page_title = t('views.path.name.scores') %>
<div class="layout__tags__index">
  <p class="layout__tags__index__header">
    <%= render 'layouts/breadcrumb_tale_2', third_page: @page_title %>
  </p>
  <hr>

  <div>
    <% index = 0.to_s %>
    <% @scores.map(&:key_name).uniq.each do |key| %>
      <div class="module__list">

        <div id="script__score__<%= index.next! %>" class="module__list__item">
          <p class="layout__scores__index__key"><%= key %></p>
          <p class="module__list__item__content">
            <a v-on:click="showModal"><%= t('.edit_all') %></a>
            |
            <%= link_to t('.delete_all'), delete_scores_path(key: key),
                        method: :delete,
                        data: { confirm: t('.delete.confirm') },
                        title: t('.delete_all'),
                        class: 'layout__tags__index__item__delete'
            %>
          </p>

          <div v-cloak>
            <div class="module__modal__outer" v-show="display">
              <div class="module__modal__background" v-on:click="closeModal"></div>
              <div class="module__modal">
                <div class="module__modal__inner">
                  <%= form_tag update_scores_path(key: key), method: :patch do %>
                    <div class="module__form">
                      <div class="module__form__field">
                        <%= text_area_tag :new_key, key, class: 'module__form__field__text module__form__field__text--fixed' %>
                      </div>
                      <%= submit_tag t('.update_all'), class: 'module__button module__button--small' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% (@scores.select { |score| score.key_name == key }).each do |score| %>
          <div id="script__score__<%= index.next! %>" class="module__list__item">
            <p class="module__label"><%= score.key_name + ' : ' + score.value %></p>
            <p class="module__list__item__content layout__tags__index__content">
              <% link = link_to t('.link_html', count: @scores_attached[score.view_number]),
                                tales_path('tags':{'id':[score.view_number]}) %>
              <%= t('.attached_html', link: link) %>
              |
              <a v-on:click="showModal"><%= t('.edit') %></a>
              |
              <%= link_to t('.delete.title'), score,
                          method: :delete,
                          data: { confirm: t('.delete.confirm') },
                          title: t('.delete.title'),
                          class: 'layout__tags__index__item__delete'
              %>
            </p>

            <div v-cloak>
              <div class="module__modal__outer" v-show="display">
                <div class="module__modal__background" v-on:click="closeModal"></div>
                <div class="module__modal">
                  <div class="module__modal__inner">
                    <%= form_for score, html: { class: 'module__form' } do |f| %>
                      <div class="module__form__field">
                        <%= f.text_area :value, class: 'module__form__field__text module__form__field__text--fixed' %>
                      </div>
                      <%= f.hidden_field :view_number %>
                      <%= f.submit t('.update'), class: 'module__button module__button--small' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
