<div class="tale-form">
  <% if @tale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tale.errors.count, "error") %> prohibited this tale from being saved:</h2>

      <ul>
      <% @tale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tale-form-title-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'tale-form-title-control' %>
  </div>

  <div id="vue-markdown" class="tale-form-content-group">
    <%= f.label :content %><br>
    <div class="tale-form-content-sp-tab">
      <a href="#">Editor</a>|<a href="#">Preview</a>
    </div>
    <div class="tale-form-markdown-adjust">
      <div class="tale-form-markdown-editor-outer">
        <%= f.text_area :content, id: 'vue-markdown-editor', class: 'tale-form-markdown-editor-inner', 'v-model' => 'content' %>
      </div>
      <div class="tale-form-markdown-preview-outer">
        <div v-html="content | preview" id="vue-markdown-preview" class="tale-form-markdown-preview-inner" />
      </div>
    </div>
  </div>

  <div><%= f.submit class: 'tale-form-button-to-act' %></div>
</div>
