<% if @tale.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tale.errors.count, "error") %> prohibited this tale from being saved:</h2>

    <ul>
    <% @tale.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field form-group">
  <%= f.label :title %><br>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="field form-group">
  <%= f.label :content %><br>
  <%= f.text_area :content, class: 'form-control', rows: '15' %>
</div>

<div class="actions">
  <%= f.submit class: 'btn btn-primary' %>
</div>
