<div class="layout__tale__form module__form">

  <div class="module__form__field">
    <%= f.text_field :title, class: 'module__form__field__text', placeholder: 'Title' %>
  </div>

  <div class="module__form__field">
    <%= text_field :form, :tags,
                   id: 'script__tale__form__input',
                   class: 'module__form__field__text',
                   placeholder: 'tag1 tag2',
                   autocomplete: :off
    %>
    <div class="layout__tale__form__suggest__wrapper">
      <div id="script__tale__form__suggest" style="display: none;" class="layout__tale__form__suggest"></div><!-- display by JS -->
      <ul id="script__tale__form__suggest__options" class="layout__tale__form__suggest__options">
        <% tags.each_with_index do | tag, index | %>
          <li id="script__tale__form__suggest__options__<%= index %>"><%= tag %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="script__tale" class="module__form__field">

    <div class="layout__tale__form__tab module__tab">
      <li class="active"><a id="script__tale__editor__tab__switch">Editor</a></li>
      <li><a id="script__tale__preview__tab__switch">Preview</a></li>
    </div>

    <div class="layout__tale__form__content">

      <div id="script__tale__editor__tab__content" class="layout__tale__form__content__editor">
        <%= f.text_area :content,
                        id: 'script__tale__editor',
                        class: 'layout__tale__form__content__editor__inner module__form__field__text module__form__field__text--fixed',
                        'v-model' => 'content',
                        placeholder: 'Write down by markdown'
        %>
      </div>

      <div id="script__tale__preview__tab__content"
           class="layout__tale__form__content__preview module__panel hidden-xs"><!-- tab change by JS -->
        <div v-html="content | preview"
             id="script__tale__preview"
             class="layout__tale__form__content__preview__inner module__markdown module__panel__inner">
        </div>
      </div>

    </div>
  </div>

  <div><%= f.submit class: 'module__button module__button--wide' %></div>
</div>
