<div class="layout__tales__index">

  <div class="layout__tales__index__header">
    <p class="layout__tales__index__header__left"><%= render 'layouts/breadcrumb_1', second_page: 'MyPage' %></p>
    <%= link_to Constants::NEW_TALE_PATH_NAME, new_tale_path, class: 'layout__tales__index__header__right module__button module__button--small' %>
    <span class="layout__tales__index__header__end" />
  </div>

  <hr>

  <p><%= page_entries_info @tales %></p>
  <div class="layout__tales__index__list">

    <% @tales.each do |tale| %>
    <div class="layout__tales__index__list__item">

      <p class="layout__tales__index__list__item__created"><%= tale.created_at.strftime('%Y-%b-%d') %>に投稿</p>
      <h4><%= link_to tale.title, tale, class: 'layout__tales__index__list__item__title' %></h4>

      <div>
        <% %w(Label1 Label2 Label3).each do |label| %> <!-- FIXME : sample data -->
            <a href="#" class="layout__tales__index__list__item__label"><%= label %></a>
        <% end %>
      </div>

      <div>
        <% {'Star1':3, 'Star2':1, 'Star3':5}.each do |axis, score| %> <!-- FIXME : sample data -->
          <a href="#" class="layout__tales__index__list__item__star"><%= axis %>:<% (1..score).each do %><%= fa_icon 'star' %><% end %></a>
        <% end %>
      </div>

      <p class="layout__tales__index__list__item__content">
        <% tale_content_plain = markdown_to_plain(tale.content) %>
        <% if tale_content_plain.size > 99 %>
            <%= tale_content_plain[0..99] %>...
        <% else %>
            <%= tale_content_plain %>
        <% end %>
      </p>

    </div>
    <% end %>
  </div>

  <div class="layout__tales__index__pagination"><%= paginate @tales, outer_window: 3 %></div>
</div>
