<div class="layout__tales__index">
  <%= render 'tales/_search/header', queries: @queries, is_searched: @is_searched, tags: @tags, tags_attached: @tags_attached %>
  <%= Constants::TALE_NOT_EXISTS if @tales.blank? %>

  <p><%= page_entries_info @tales %></p>
  <div class="module__list">

    <% @tales.each do |tale| %>
    <div class="module__list__item">

      <p class="layout__tales__index__list__item__created">created at <%= tale.created_at.strftime('%Y-%b-%d') %></p>
      <h4>
        <%= link_to tale, class: 'module__list__item__title' do %>
          <% if tale.title.size > 30 %>
                <%= tale.title[0..29] + '...' %>
            <% else %>
                <%= tale.title %>
            <% end %>
        <% end %>
      </h4>

      <div>
        <% tale.tale_tag_relationships.each do |relation| %>
          <%  #avoid to throw query about tag records twice ref. TaleService#list %>
          <a href="#" class="module__label"><%= (@tags.select { |tag| tag.id == relation.tag_id })[0].name %></a>
        <% end %>

        <% {'Star1':3, 'Star2':1, 'Star3':5}.each do |axis, score| %> <!-- FIXME : sample data -->
          <a href="#" class="module__label"><%= axis %>:<% (1..score).each do %><%= fa_icon 'star' %><% end %></a>
        <% end %>
      </div>

      <p class="layout__tales__index__list__item__content module__list__item__content">
        <% tale_content_plain = markdown_to_plain(tale.content) %>
        <% if tale_content_plain.size > 99 %>
            <%= tale_content_plain[0..99] %>...
        <% else %>
            <%= tale_content_plain %>
        <% end %>
      </p>

    </div>
    <% end %>
  </div>

  <div class="layout__tales__index__pagination"><%= paginate @tales, outer_window: 3 %></div>
</div>
