<% @page_title = t('views.path.name.tales') %>
<div class="layout__tales__index">

  <%= render 'tales/_search/header',
             queries: @queries,
             is_searched: @is_searched,
             tags: @tags,
             tags_attached: @tags_attached,
             scores: @scores,
             scores_attached: @scores_attached,
             sort_master: @sort_master,
             compare_master: @compare_master,
             search_conditions: @search_conditions %>

  <p><%= page_entries_info @tales %></p>
  <div class="module__list">

    <% @tales.each do |tale| %>
    <div class="module__list__item">

      <p class="layout__tales__index__list__item__created">
        <%= t('views.time.create', time: local_time(tale.created_at)) %>
      </p>

      <p class="layout__tales__index__list__item__sequels module__badge">
        <%= fa_icon 'comment' %>
        <%= @sequels_attached[tale.id] < 100 ? @sequels_attached[tale.id] : '99+' %>
      </p>

      <span class="layout__tales__index__list__item__pretitle"></span>

      <h4>
        <%= link_to tale, class: 'module__list__item__title' do %>
          <% if tale.title.size > 30 %>
                <%= tale.title[0..29] + '...' %>
            <% else %>
                <%= tale.title %>
            <% end %>
        <% end %>
      </h4>

      <div>
        <% tale.tale_tag_relationships.each do |relation| %>
          <% tag = (@tags.select { |tag| tag.id == relation.tag_id }).first %>
          <% path = tales_path('tags':{'id':[tag.view_number]}) %>
          <%= link_to path, class: 'module__label layout__tales__index__list__item__tags' do %>
            <%= fa_icon('tag') + ' ' + tag.name %>
          <% end %>
        <% end %>

        <% tale.tale_score_relationships.each do |relation| %>
          <% score = (@scores.select { |score| score.id == relation.score_id }).first %>
          <% path = tales_path('scores': {
              'key': [score.key_name],
              'co': [score.key_name + ':eq'],
              'val': [score.key_name + ':' + score.value]
          }) %>
          <%= link_to path, class: 'module__label layout__tales__index__list__item__scores' do %>
            <%= fa_icon('star') + ' ' + score.key_name + ' : ' + score.value %>
          <% end %>
        <% end %>
      </div>

      <p class="layout__tales__index__list__item__content module__list__item__content">
        <% tale_content_plain = markdown_to_plain(tale.content) %>
        <% if tale_content_plain.size > 99 %>
            <%= tale_content_plain[0..99] %>...
        <% else %>
            <%= tale_content_plain %>
        <% end %>
      </p>

    </div>
    <% end %>
  </div>

  <div class="layout__tales__index__pagination"><%= paginate @tales, outer_window: 3 %></div>
</div>
