<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tale.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tale.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @tale.user.name %>
</p>

<%= link_to 'Edit', edit_tale_path(@tale) %> |
<%= link_to 'Destroy', @tale, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tales_path %>
