<% @page_title = "#{t('views.path.name.tale.show')} > #{@tale.title}" %>
<div class="layout__tale__show">

  <div class="layout__tale__show__header">
    <p class="layout__tale__show__header__left">
      <%= render 'layouts/breadcrumb_tale_2', third_page: @page_title%>
    </p>
    <%= link_to edit_tale_path(@tale),
                class: 'layout__tales__show__header__right module__button module__button--small' do %>
      <%= fa_icon 'pencil' %>
    <% end %>
    <div class="layout__tale__show__header__end"></div>
  </div>
  <hr>

  <h2><%= @tale.title %></h2>
  <ul id="script__tale__detail" class="module__tab">
    <li class=<%= @tab_class[0][0] %>>
      <a id="script__tale__detail__tab1" href="#tab__first" data-toggle="tab"><%= t('.content') %></a>
    </li>
    <li class=<%= @tab_class[1][0] %>>
      <a id="script__tale__detail__tab2" href="#tab__second" data-toggle="tab"><%= t('.information') %></a>
    </li>
    <li class=<%= @tab_class[2][0] %>>
      <a id="script__tale__detail__tab3" href="#tab__third" data-toggle="tab">
        <%= t('.sequels') %>
        <% if @tale.sequels.length > 0 %>
        <span class="module__badge module__badge--desktop">
          <%= fa_icon 'comment' %>
          <%= @tale.sequels.length %>
        </span>
        <% end %>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <%= render 'tales/_detail/content', tab_class: @tab_class, tale: @tale %>
    <%= render 'tales/_detail/information', tab_class: @tab_class, tale: @tale %>
    <%= render 'tales/_detail/sequels', tab_class: @tab_class, new_sequel: @new_sequel, sequels: @sequels, tale: @tale %>
  </div>
</div>
