<div class="layout__tale__show">

  <div class="layout__tale__show__header">
    <p class="layout__tale__show__header__left"><%= render 'layouts/breadcrumb_2', third_page: Constants::SHOW_TALE_PATH_NAME %></p>
    <%= link_to Constants::EDIT_TALE_PATH_NAME, edit_tale_path(@tale), class: 'layout__tales__index__header__right module__button module__button--small' %>
    <div class="layout__tale__show__header__end"></div>
  </div>

  <hr>
  <h2><%= @tale.title %></h2>

  <!-- TODO: set three tabs, information, content, comment -->

  <div class="tale-show-information">
    <h3>Information</h3>
    <div class="tale-show-label-group">
      <p class="tale-show-label-heading">Label</p>
      <div class="tale-show-label-text">
        <a href="#" class="module__label">Label1</a>
        <a href="#" class="module__label">Label2</a>
        <a href="#" class="module__label">Label3</a>
      </div>
    </div>

    <div class="tale-show-star-group">
      <p class="tale-show-star-heading">Score</p>
      <div class="tale-show-star-text">
        <a href="#" class="module__label">Star1:<%= fa_icon 'star' %><%= fa_icon 'star' %><%= fa_icon 'star' %></a>
        <a href="#" class="module__label">Star2:<%= fa_icon 'star' %></a>
        <a href="#" class="module__label">Star3:<%= fa_icon 'star' %><%= fa_icon 'star' %><%= fa_icon 'star' %><%= fa_icon 'star' %><%= fa_icon 'star' %></a>
      </div>
    </div>

    <div class="tale-show-time-group">
      <p class="tale-show-time-heading">Info</p>
      <div class="tale-show-time-text">
        <ul>
          <li>posted at <%= @tale.created_at.strftime('%Y-%b-%d %H:%M') %></li>
          <% unless @tale.created_at == @tale.updated_at %>
              <li>updated at <%= @tale.updated_at.strftime('%Y-%b-%d %H:%M') %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <hr>

  <div class="layout__tale__show__content">
    <h3>Content</h3>
    <div class="module__panel">
      <div class="module__panel__inner"><%= markdown_to_html(@tale.content) %></div>
    </div>
  </div>

  <div>
    <h3>Sequels</h3>
    <%= form_for(@new_sequel, url: create_sequel_path) do |f| %>
        <%= render 'sequels/form', f: f %>
    <% end %>
    <%= render 'sequels/index' %>
  </div>
</div>
