<div class="layout__tale__show">

  <div class="layout__tale__show__header">
    <p class="layout__tale__show__header__left"><%= render 'layouts/breadcrumb_tale_2', third_page: Constants::SHOW_TALE_PATH_NAME %></p>
    <%= link_to Constants::EDIT_TALE_PATH_NAME, edit_tale_path(@tale), class: 'layout__tales__index__header__right module__button module__button--small' %>
    <div class="layout__tale__show__header__end"></div>
  </div>

  <hr>
  <h2><%= @tale.title %></h2>

  <ul id="script__tale__detail" class="module__tab">
    <li class=<%= @tab_class[0][0] %>>
      <a id="script__tale__detail__tab1" href="#tab__first" data-toggle="tab">Content</a>
    </li>
    <li class=<%= @tab_class[1][0] %>>
      <a id="script__tale__detail__tab2" href="#tab__second" data-toggle="tab">Information</a>
    </li>
    <li class=<%= @tab_class[2][0] %>>
      <a id="script__tale__detail__tab3" href="#tab__third" data-toggle="tab">
        Sequels
        <% if @tale.sequels.length > 0 %>
        <span class="module__badge module__badge--desktop"><%= @tale.sequels.length %></span>
        <% end %>
      </a>
    </li>
  </ul>

  <div class="tab-content"> <!-- tab -->
    <%= render 'tales/_show/content' %>
    <%= render 'tales/_show/information' %>
    <%= render 'tales/_show/sequels' %>
  </div>
</div>
