<p id="notice"><%= notice %></p>

<p><%= @tale.created_at.strftime('%Y-%b-%d') %>に投稿</p>
<p><%= @tale.updated_at.strftime('%Y-%b-%d') %>に編集</p>

<p>
  <strong>Title:</strong>
  <%= @tale.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(h(@tale.content)) %>
</p>

<p>
  <strong>User:</strong>
  <%= @tale.user.name %>
</p>

<%= link_to 'Edit', edit_tale_path(@tale) %> |
<%= link_to 'Destroy', @tale, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tales_path %>
