<% @page_title = t('views.path.name.about') %>
<div class="layout__static">
  <p class="layout__static__header"><%= render 'layouts/breadcrumb_1', second_page: @page_title %></p>
  <hr>

  <div class="layout__static__about">
    <%= image_tag image_url('top.jpg'), class: 'layout__static__about__image' %>
    <h3><%= t('.name_title') %></h3>
    <p><%= t('.name_description_html') %></p>
    <hr>
    <h3><%= t('.concept_title') %></h3>
    <p><%= t('.concept_description_html') %></p>
  </div>
</div>
