<% @page_title = t('views.path.name.home') %>
<% login_link = link_to t('views.path.name.login'), new_user_session_path %>
<div class="layout__home">

  <div class="layout__home__impress">
    <div class="layout__home__impress__inner">
      <h1 class="layout__home__impress__inner__message"><%= t('.message') %></h1>
      <p class="layout__home__impress__inner__description"><%= t('.description_html') %></p>
      <%= link_to t('views.path.name.signup'), new_user_registration_path,
                  class: 'layout__home__impress__inner__signup module__button' %>
      <div class="layout__home__impress__inner__login">
        <p><%= t('views.message.or_login_html', login: login_link) %></p>
      </div>
    </div>
  </div>

  <div class="layout__home__explain">
    <div class="layout__home__explain__inner1">
      <div class="layout__home__explain__inner1__title">
        <h2><%= t('.explain.inner1.title') %></h2>
      </div>
      <% %w(pencil-square-o list-alt comments-o).each.with_index(1) do |icon, idx| %>
        <% inner1_content_class = 'layout__home__explain__inner1__content' %>
        <div class="<%= inner1_content_class %>">
          <div class="<%= inner1_content_class %>__icon"><%= fa_icon icon %></div>
          <h3 class="<%= inner1_content_class %>__title"><%= t(".explain.inner1.content#{idx}.title") %></h3>
          <p><%= t(".explain.inner1.content#{idx}.text_html") %></p>
        </div>
      <% end %>
    </div>

    <hr>
    <div class="layout__home__explain__inner2">
      <div class="layout__home__explain__inner2__title"><h2><%= t('.explain.inner2.title') %></h2></div>
      <%= image_tag image_url('screenshot.jpg'), class: 'layout__home__explain__inner2__image' %><br /><!-- editor -->
      <%= image_tag image_url('screenshot.jpg'), class: 'layout__home__explain__inner2__image' %><br /><!-- search -->
      <%= image_tag image_url('screenshot.jpg'), class: 'layout__home__explain__inner2__image' %><br /><!-- list -->
      <%= image_tag image_url('screenshot.jpg'), class: 'layout__home__explain__inner2__image' %><br /><!-- detail -->
      <%= image_tag image_url('screenshot.jpg'), class: 'layout__home__explain__inner2__image' %><br /><!-- comment -->
      <%= image_tag image_url('screenshot.jpg'), class: 'layout__home__explain__inner2__image' %><!-- backup -->
    </div>

    <hr>
    <div class="layout__home__explain__inner3">
      <div class="layout__home__explain__inner3__title"><h2><%= t('.explain.inner3.title') %></h2></div>
      <div class="layout__home__explain__inner3__description">
        <p class="layout__home__explain__inner3__description__text"><%= t('.explain.inner3.text1_html') %></p>
        <p class="layout__home__explain__inner3__description__text"><%= t('.explain.inner3.text2') %></p>
      </div>
      <%= link_to t('views.path.name.signup'), new_user_registration_path,
                  class: 'layout__home__explain__inner3__signup module__button' %>
      <div class="layout__home__explain__inner3__login">
        <p><%= t('views.message.or_login_html', login: login_link) %></p>
      </div>
    </div>

  </div>
</div>
