<% @page_title = Constants::TAG_INDEX_PATH_NAME %>
<div class="layout__tags__index">
  <p class="layout__tags__index__header">
    <%= render 'layouts/breadcrumb_tale_2', third_page: Constants::TAG_INDEX_PATH_NAME %>
  </p>
  <hr>

  <div class="module__list">
    <% @tags.each_with_index do |tag, index| %>
      <div id="script__tag__<%= index %>" class="module__list__item">
        <p class="module__label"><%= tag.name %></p>
        <p class="module__list__item__content">
          is attached to
          <%= link_to "#{@tags_attached[tag.view_number]} tales", "/mypage/?tags[id][]=#{tag.view_number}" %><!-- FIXME: dynamic count -->
          |
          <a v-on:click="showModal">Edit</a>
          |
          <%= link_to 'Delete', tag,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      title: 'Delete',
                      class: 'layout__tags__index__item__delete'
          %>
        </p>

        <div v-cloak>
          <div class="module__modal__outer" v-show="display">
            <div class="module__modal__background" v-on:click="closeModal"></div>
            <div class="module__modal">
              <div class="module__modal__inner">
                <%= form_for tag, html: { class: 'module__form' } do |f| %>
                  <div class="module__form__field">
                    <%= f.text_area :name, class: 'module__form__field__text module__form__field__text--fixed' %>
                  </div>
                  <%= f.hidden_field :view_number %>
                  <%= f.submit 'Update', class: 'module__button module__button--small' %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
