<div class="layout__tags__index">
  <p class="layout__tags__index__header">
    <%= render 'layouts/breadcrumb_tale_2', third_page: Constants::TAG_INDEX_PATH_NAME %>
  </p>
  <hr>

  <% @tags.each do |tag| %>
    <p>
      <%= form_for(tag) do |f| %>
        <%= f.text_area :name, class: 'layout__tags__index__item__form' %>
        <%= f.hidden_field :view_number %>
        <%= f.submit 'Update', class: 'module__button module__button--small' %>
      <% end %>

      <%= link_to '(3 tales)', "/mypage/?tags[id][]=#{tag.view_number}" %><!-- FIXME: dynamic count -->
      <%= link_to 'Delete',
                  tags_path(view_number: tag.view_number),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  title: 'Delete',
                  class: 'layout__tags__index__item__delete' %>
    </p>
  <% end %>
</div>
