<% @page_title = t('views.path.name.backup') %>
<div class="layout__backups">
  <p class="layout__backups__header">
    <%= render 'layouts/breadcrumb_account', fourth_page: @page_title %>
  </p>
  <hr>

  <div>
    <div>
      <%= button_to t('.create'), create_backup_path, class: 'module__button', method: :post %>
      <p><%= t('.update') %></p>
    </div>
    <hr>

    <div>
      <button class="module__button" <%= 'disabled' if @backup.blank? %>>
        <%= t('.download') %>
      </button>
      <p><%= @backup.present? ? t('.created_at') : t('.blank') %></p>
    </div>
    <hr>

    <p><%= t('.delete') %></p>
  </div>
</div>
