<div id="tab__second" class="layout__tale__show__information tab-pane fade <%= tab_class[1][1] %>"> <!-- tab -->

  <div class="layout__tale__show__information__label">
    <p class="layout__tale__show__information__label__heading">Tag</p>
    <div>
      <% tale.tags.each do |label| %>
        <a href="#" class="module__label"><%= label.name %></a>
      <% end %>
      <%= link_to Constants::EDIT_TALE_PATH_NAME, edit_tale_path(tale) if tale.tags.blank? %>
    </div>
  </div>

  <div class="layout__tale__show__information__star">
    <p class="layout__tale__show__information__star__heading">Score</p>
    <div>
      <% {'Star1':3, 'Star2':1, 'Star3':5}.each do |axis, score| %> <!-- FIXME : sample data -->
          <a href="#" class="module__label"><%= axis %>:<% (1..score).each do %><%= fa_icon 'star' %><% end %></a>
      <% end %>
    </div>
  </div>

  <div class="layout__tale__show__information__time">
    <p class="layout__tale__show__information__time__heading">History</p>
    <div class="layout__tale__show__information__time__content">
      <ul>
        <li>posted at <%= tale.created_at.strftime('%Y-%b-%d %H:%M') %></li>
        <% unless tale.created_at == tale.updated_at %>
            <li>updated at <%= tale.updated_at.strftime('%Y-%b-%d %H:%M') %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <hr>
  <%= link_to 'Delete', tale,
              method: :delete,
              data: {
                  confirm: 'Are you sure?',
                  verify: tale.title,
                  'verify-text': 'Please type in the title of this tale to confirm.'
              },
              title: 'Delete',
              class: 'text-danger'
  %>
</div>
