<p><%= t('.hello', email: @resource.email) %></p>

<p><%= t('.description_1') %></p>

<p><%= link_to t('.submit'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.description_2') %></p>
<p><%= t('.description_3') %></p>
