<div class="layout__tale__search">

  <div class="module__tab">
    <li class="active"><a id="script__tale__search__input__tab__switch">Input</a></li>
    <li><a id="script__tale__search__condition__tab__switch">Condition</a></li>
  </div>

  <%= form_tag tales_path, method: :get do %>
    <div id="script__tale__search__input__tab__content" class="module__form">

      <div class="module__form__field">
        <p>Keyword</p>
        <%= text_field_tag 'keyword', queries.keyword, class: 'module__form__field__text', placeholder: 'Keyword' %>
      </div>
      <hr>

      <p>Tag</p>
      <div class="module__form__checkbox">
        <%= Constants::TAG_NOT_EXISTS if tags.blank? %>
        <% tags.each do |tag| %>
          <% next unless tags_attached[tag.view_number] > 0 %>
          <%= check_box_tag 'tags[id][]',
                            tag.view_number,
                            queries.tags.include?(tag.view_number),
                            id: "input_tags_#{tag.view_number}"
          %>
          <%= label_tag "input_tags_#{tag.view_number}", class: 'module__form__checkbox__label' do %>
            <p class="module__form__checkbox__label__inner">
              <%= tag.name %>
              <span class="module__badge"><%= tags_attached[tag.view_number] %></span>
            </p>
          <% end %>
        <% end %>
      </div>
      <hr>

      <p>Sort</p>
      <div class="module__form__radiobutton">
        <% sort_master.each_with_index do |sort_item, index| %>
          <%= radio_button_tag 'sort', index, queries.sort == index, id: "input_sort_#{index}" %>
          <%= label_tag "input_sort_#{index}", class: 'module__form__radiobutton__label' do %>
            <p class="module__form__radiobutton__label__inner"><%= sort_item %></p>
          <% end %>
        <% end %>
      </div>
      <hr>

      <p>Search Condition</p>
      <div class="module__form__checkbox layout__tale__search__condition__save">
        <%= check_box_tag 'save', true, queries.save, id: 'input_condition_save' %>
        <%= label_tag 'input_condition_save', class: 'module__form__checkbox__label' do %>
          <p class="module__form__checkbox__label__inner">Save</p>
        <% end %>
      </div>
      <div class="module__form__field layout__tale__search__condition__name">
        <%= text_field_tag 'name', queries.name,
                           class: 'module__form__field__text',
                           id: 'script__tale__search__condition__name',
                           placeholder: 'name',
                           disabled: true
        %>
      </div>
      <span class="layout__tale__search__condition__end"></span>
      <hr>

      <div>
        <%= submit_tag 'Search', name: nil, class: 'module__button module__button--small module__button--wide' %>
      </div>
    </div>
  <% end %>

  <div id="script__tale__search__condition__tab__content" class="layout__tale__search__conditions hidden">
    <% saved_conditions = search_conditions.select(&:save_flag) %>
    <%= render 'tales/_search/conditions', conditions: saved_conditions, topic_name: 'saved' %>
    <% history_conditions = search_conditions.reject(&:save_flag) %>
    <%= render 'tales/_search/conditions', conditions: history_conditions, topic_name: 'history' %>
    <hr class="layout__tale__search__conditions__end">
  </div>
</div>
