<div class="layout__tale__search">
  <%= form_tag tales_path, method: :get do %>
    <div class="module__form">

      <div class="module__form__field">
        <p>Keyword</p>
        <%= text_field_tag 'keyword', queries.keyword, class: 'module__form__field__text', placeholder: 'Keyword' %>
      </div>

      <div class="module__form__checkbox">
        <p>Tag</p>
        <p>
          <%= Constants::TAG_NOT_EXISTS if tags.blank? %>
          <% tags.each do |tag| %>
            <%= label_tag "input_tags_#{tag.view_number}", class: 'module__form__label' do %>
              <%= check_box_tag 'tags[id][]',
                                tag.view_number,
                                queries.tags.include?(tag.view_number.to_s),
                                id: "input_tags_#{tag.view_number}"
              %>
              <span class="module__form__label__text"><%= tag.name %></span>
            <% end %>
          <% end %>
          - <a href="#">Tag List</a><!-- TODO implement -->
        </p>
      </div>

      <div>
        <%= submit_tag 'Search', name: nil, class: 'module__button module__button--small module__button--wide' %>
      </div>
    </div>
  <% end %>
</div>
