<div class="layout__tale__search">

  <div class="module__tab">
    <li class="active"><a id="script__tale__search__input__tab__switch"><%= t('.input') %></a></li>
    <li><a id="script__tale__search__condition__tab__switch"><%= t('.condition') %></a></li>
  </div>

  <%= form_tag tales_path, method: :get do %>
    <div id="script__tale__search__input__tab__content" class="module__form">

      <div class="module__form__field">
        <p><%= t('.keyword') %></p>
        <%= text_field_tag 'keyword', queries.keyword, class: 'module__form__field__text', placeholder: t('.keyword') %>
      </div>
      <hr>

      <p><%= t('.tag') %></p>
      <div class="module__form__checkbox">
        <%= t('views.message.blank.tag') if tags.blank? %>
        <% tags.each do |tag| %>
          <% next unless tags_attached[tag.view_number] > 0 %>
          <%= check_box_tag 'tags[id][]',
                            tag.view_number,
                            queries.tags.include?(tag.view_number),
                            id: "input_tags_#{tag.view_number}" %>
          <%= label_tag "input_tags_#{tag.view_number}", class: 'module__form__checkbox__label' do %>
            <p class="module__form__checkbox__label__inner">
              <%= tag.name %>
              <span class="module__badge"><%= tags_attached[tag.view_number] %></span>
            </p>
          <% end %>
        <% end %>
      </div>
      <hr>

      <p><%= t('.score') %></p>
      <div>
        <!-- todo implement -->
      </div>
      <hr>

      <p><%= t('.sort') %></p>
      <div class="module__form__radiobutton">
        <% sort_master.each_with_index do |_item, index| %>
          <%= radio_button_tag 'sort', index, queries.sort == index, id: "input_sort_#{index}" %>
          <%= label_tag "input_sort_#{index}", class: 'module__form__radiobutton__label' do %>
            <p class="module__form__radiobutton__label__inner"><%= t('master.sort.option_' + index.to_s) %></p>
          <% end %>
        <% end %>
      </div>
      <hr>

      <p><%= t('.save_title', max: Constants::SEARCH_CONDITION_RECORD_SIZE) %></p>
      <div class="module__form__checkbox layout__tale__search__condition__save">
        <%= check_box_tag 'save', true, queries.save, id: 'input_condition_save' %>
        <%= label_tag 'input_condition_save', class: 'module__form__checkbox__label' do %>
          <p class="module__form__checkbox__label__inner"><%= t('.save_flag') %></p>
        <% end %>
      </div>
      <div class="module__form__field layout__tale__search__condition__name">
        <%= text_field_tag 'name', queries.name,
                           class: 'module__form__field__text',
                           id: 'script__tale__search__condition__name',
                           placeholder: t('.save_name'),
                           disabled: true %>
      </div>
      <span class="layout__tale__search__condition__end"></span>
      <hr>

      <div>
        <%= submit_tag t('.search'), name: nil, class: 'module__button module__button--small module__button--wide' %>
      </div>
      <hr>
    </div>
  <% end %>

  <div id="script__tale__search__condition__tab__content" class="hidden">
    <%= fa_icon 'list' %>
    <%= link_to t('views.path.name.conditions.edit'), search_conditions_path %>
    <hr>
    <div class="layout__tale__search__conditions">
      <% saved_conditions = search_conditions.select(&:save_flag) %>
      <%= render 'tales/_search/conditions', conditions: saved_conditions, topic_name: t('.saved') %>
      <% history_conditions = search_conditions.reject(&:save_flag) %>
      <%= render 'tales/_search/conditions', conditions: history_conditions, topic_name: t('.history') %>
    </div>
    <hr class="layout__tale__search__conditions__end">
  </div>
</div>
