<div id="tab__second" class="layout__tale__show__information tab-pane fade <%= tab_class[1][1] %>"> <!-- tab -->

  <div class="layout__tale__show__information__label">
    <p class="layout__tale__show__information__label__heading">Tag</p>
    <div>
      <%= link_to t('views.path.name.tale.edit'), edit_tale_path(tale) if tale.tags.blank? %>
      <% tale.tags.each do |label| %>
        <%= link_to "#{label.name}", tales_path('tags':{'id':[label.view_number]}), class: 'module__label' %>
      <% end %>
    </div>
  </div>

  <div class="layout__tale__show__information__star">
    <p class="layout__tale__show__information__star__heading">Score</p>
    <div>
      <%= link_to t('views.path.name.tale.edit'), edit_tale_path(tale) if tale.scores.blank? %>
      <% tale.scores.each do |score| %>
        <%= link_to score.key_name + ' : ' + score.value, tales_path('scores': {
            'key': [score.key_name],
            'co': [score.key_name + ':eq'],
            'val': [score.key_name + ':' + score.value]
        }), class: 'module__label' %>
      <% end %>
    </div>
  </div>

  <div class="layout__tale__show__information__time">
    <p class="layout__tale__show__information__time__heading">History</p>
    <div class="layout__tale__show__information__time__content">
      <ul>
        <li><%= t('views.time.create', time: local_time(tale.created_at)) %></li>
        <% unless tale.created_at == tale.updated_at %>
            <li><%= t('views.time.update', time: local_time(tale.updated_at)) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <hr>
  <%= link_to t('.delete.title'), tale,
              method: :delete,
              data: {
                  confirm: t('.delete.confirm'),
                  verify: tale.title,
                  'verify-text': t('.delete.verify')
              },
              title: t('.delete.title'),
              class: 'text-danger'
  %>
</div>
