<p>
  <%= topic_name.capitalize %>
  (<%= conditions.length %>/<%= Constants::SEARCH_CONDITION_RECORD_SIZE %>)
</p>

<div class="module__list">
  <% conditions.each_with_index do |condition, index| %>
    <div id="script__condition__<%= index %>" class="module__list__item">
      <% if condition.name.present? %>
        <p><%= condition.name %></p>
      <% end %>
      <p><a href="<%= tales_path + '?' + condition.query_string %>"><%= '?' + condition.query_string %></a></p>
      <p class="module__list__item__content">
        <%= local_time(condition.updated_at) %>
        |
        <a v-on:click="showModal">Edit</a>
        |
        <%= link_to 'Delete', condition,
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    title: 'Delete',
                    class: 'layout__conditions__index__item__delete'
        %>
      </p>

      <div v-cloak>
        <div class="module__modal__outer" v-show="display">
          <div class="module__modal__background" v-on:click="closeModal"></div>
          <div class="module__modal">
            <div class="module__modal__inner">
              <%= form_for condition, html: { class: 'module__form' } do |f| %>
                <div class="module__form__field">
                  <%= f.label 'Name' %>
                  <%= f.text_area :name, class: 'module__form__field__text module__form__field__text--fixed' %>
                </div>
                <div class="module__form__field">
                  <%= f.label 'Query' %>
                  <%= f.text_area :query_string, class: 'module__form__field__text module__form__field__text--fixed' %>
                </div>
                <%= f.hidden_field :view_number %>
                <%= f.submit 'Update', class: 'module__button module__button--small' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
