<div class="layout__shared__footer">
  <hr>
  <div class="layout__shared__footer__inner">
    <p>
      <span class="layout__shared__footer__inner__copyright">© 2016 My100Tales.</span>
      <span class="layout__shared__footer__inner__links">
        <%= link_to 'Terms', '#', class: 'layout__shared__footer__inner__link' %>
        <%= link_to 'Privacy', '#', class: 'layout__shared__footer__inner__link' %>
        <%= link_to 'About', '#', class: 'layout__shared__footer__inner__link' %>
        <%= link_to 'Contact', '#', class: 'layout__shared__footer__inner__link' %>
      </span>
    </p>
  </div>
  <%= render 'layouts/message' %>
</div>
