<nav class="layout__shared__header">
  <div class="layout__shared__header__inner">

    <div class="layout__shared__header__inner__layout">
      <!-- burger menu at right -->
      <button type="button"
              class="layout__shared__header__inner__layout__menu"
              data-toggle="collapse"
              data-target="#shared__header__burger__menu">
        <% 3.times { %><span class="layout__shared__header__inner__layout__menu__inner"></span><% } %>
      </button>
      <!-- application logo at left -->
      <% logo_link = user_signed_in? ? tales_path : root_path %>
      <%= link_to logo_link, class: 'layout__shared__header__inner__layout__logo' do %>
          <h1 class="layout__shared__header__inner__layout__logo__inner">
            <%= fa_icon('fire') + Constants::PRODUCT_NAME_FOR_HEADER %>
          </h1>
      <% end %>
    </div>

    <!-- navbar contents -->
    <div id="shared__header__burger__menu" class="layout__shared__header__inner__menu collapse">
      <% # .collapse の直指定 : パフォーマンス観点 %>
      <ul class="layout__shared__header__inner__menu__list">
        <% if user_signed_in? %>
          <% [(link_to fa_icon('list') + ' ' + t('views.path.name.tales'), tales_path),
              (link_to fa_icon('tags') + ' ' + t('views.path.name.tags'), tags_path),
              (link_to fa_icon('cog') + ' ' + t('.settings'), edit_user_registration_path),
              (link_to fa_icon('sign-out') + ' ' + t('.logout'), destroy_user_session_path, method: :delete)
             ].each do |link| %>
            <li class="layout__shared__header__inner__menu__list__item"><%= link %></li>
          <% end %>
        <% else %>
          <% [(link_to fa_icon('pencil') + ' ' + t('views.path.name.signup'), new_user_registration_path),
              (link_to fa_icon('sign-in') + ' ' + t('views.path.name.login'), new_user_session_path)
             ].each do |link| %>
            <li class="layout__shared__header__inner__menu__list__item"><%= link %></li>
          <% end %>
        <% end %>
        <li class="layout__shared__header__inner__menu__list__item">
          <% another_lang_list.each do |key, value| %>
            <% url_for_params = params.merge(controller:nil, action:nil, locale:nil) %>
            <% url_for_args = {locale: key, only_path: false, params: url_for_params} %>
            <%= link_to fa_icon('language') + ' ' + value, url_for(url_for_args) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
