<nav class="layout__shared__header">
  <div class="layout__shared__header__inner">

    <div class="layout__shared__header__inner__layout">
      <!-- burger menu at right -->
      <button type="button" class="layout__shared__header__inner__layout__menu" data-toggle="collapse" data-target="#shared__header__burger__menu">
        <span class="layout__shared__header__inner__layout__menu__inner"></span>
        <span class="layout__shared__header__inner__layout__menu__inner"></span>
        <span class="layout__shared__header__inner__layout__menu__inner"></span>
      </button>
      <!-- application logo at left -->
      <%= link_to tales_path, class: 'layout__shared__header__inner__layout__logo' do %>
          <h1 class="layout__shared__header__inner__layout__logo__inner"><%= fa_icon 'fire' %> My 100 tales</h1>
      <% end %>
    </div>

    <!-- navbar contents -->
    <div id="shared__header__burger__menu" class="layout__shared__header__inner__menu collapse"><%# パフォーマンス観点による .collapse の直指定 %>
      <ul class="layout__shared__header__inner__menu__list">
        <% if user_signed_in? %>
            <li><p class="layout__shared__header__inner__menu__list__item">Logged in as <%= current_user.name %>.</p></li>
            <li><%= link_to 'Settings', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><p class="layout__shared__header__inner__menu__list__item">Welcome Guest User!</p></li>
            <li><%= link_to 'Signup', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
