<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- burger menu -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= fa_icon 'fire' %> My 100 tales</a>
    </div>
    <!-- navbar contents -->
    <div class="navbar-right navbar-collapse collapse" id="navbar-content">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <li><a href="#">Logged in as <%= current_user.name %>.</a></li>
            <li><%= link_to 'Settings', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><a href="#">Welcome Guest User!</a></li>
            <li><%= link_to 'Signup', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- TODO: contact, usage, terms of services, privacy policy -->

<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert"><%= alert %></p>
<% end %>
