<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta content="utf-8" name="charset">
  <!-- assets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <!-- locales -->
  <% case I18n.locale %>
  <% when :ja then %>
    <meta http-equiv="Content-Language" content="ja">
    <link rel="alternate" href="<%= url_for(locale: 'en', only_path: false) %>" hreflang="en">
  <% else %>
    <meta http-equiv="Content-Language" content="en">
    <link rel="alternate" href="<%= url_for(locale: 'ja', only_path: false) %>" hreflang="ja">
  <% end %>
</head>
<body>

<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
