<!DOCTYPE html>
<html>
<head>
  <title>my100tales</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>

<%= render 'layouts/header' %>

<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>
<%= render 'layouts/footer' %>

<!-- TODO: contact, usage, terms of services, privacy policy -->

</body>
</html>
